*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;   
}
header{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  overflow-y: hidden;
  display: flex;
}
.titulo{
  width: 20%;
}
.opciones{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bi{
  font-size: 3rem;
  color: white;
}
